<table class="table_base">
  <thead>
    <tr>
      <th />
      <th>Drive Distance</th>
      <th>Fairway Keep</th>
      <th>Green Hitting (FW)</th>
      <th>Green Hitting (LI)</th>
      <th>Green Hitting (MI)</th>
      <th>Green Hitting (SI)</th>
    </tr>
  </thead>
  <tbody>
    <% @stat_suite.each do |stat| -%>
      <tr>
        <td><%= stat.player.last_name %></td>
        <td class="numeric"><%= format('%4.1f', stat.drive_distance) %></td>
        <td class="numeric"><%= format('%4.1f', stat.fairway_keeping * 100) %></td>
        <td class="numeric"><%= format('%4.1f', stat.green_hitting('fw') * 100) %></td>
        <td class="numeric"><%= format('%4.1f', stat.green_hitting('li') * 100) %></td>
        <td class="numeric"><%= format('%4.1f', stat.green_hitting('mi') * 100) %></td>
        <td class="numeric"><%= format('%4.1f', stat.green_hitting('si') * 100) %></td>
      </tr>
    <% end -%>
  </tbody>
</table>
