<table class="table_base">
  <thead>
    <tr>
      <th rowspan="2" />
      <th rowspan="2" colspan="2">Drive<br>Distance</th>
      <th rowspan="2" colspan="2">Fairway<br>Keep %</th>
      <th colspan="4">FW</th>
      <th colspan="4">LI</th>
      <th colspan="4">MI</th>
      <th colspan="4">SI</th>
      <th colspan="4">P</th>
      <th colspan="4">Ch</th>
      <th colspan="8">Putting</th>
    </tr>
    <tr>
      <% 6.times do -%>
        <th colspan="2">Green %</th>
        <th colspan="2">Accuracy</th>
      <% end -%>
      <th colspan="2">Distance</th>
      <th colspan="2">20 (%)</th>
      <th colspan="2">10 (%)</th>
      <th colspan="2">5 (%)</th>
    </tr>
  </thead>
  <tbody>
    <% @stat_suite.each do |stat| -%>
      <tr>
        <td><%= stat.player.last_name %></td>
        <td class="numeric"><%= format('%4.1f', stat.drive_distance) %></td>
        <td class="numeric"><%= stat.rank(:drive_distance) %></td>
        <td class="numeric"><%= format('%4.1f', stat.fairway_keeping * 100) %></td>
        <td class="numeric"><%= stat.rank(:fairway_keeping) %></td>
        <%= render partial: 'green_hitting_and_distance', locals: {stat: stat, club_name: :fw} %>
        <%= render partial: 'green_hitting_and_distance', locals: {stat: stat, club_name: :li} %>
        <%= render partial: 'green_hitting_and_distance', locals: {stat: stat, club_name: :mi} %>
        <%= render partial: 'green_hitting_and_distance', locals: {stat: stat, club_name: :si} %>
        <%= render partial: 'green_hitting_and_distance', locals: {stat: stat, club_name: :p} %>
        <%= render partial: 'green_hitting_and_distance', locals: {stat: stat, club_name: :ch} %>
        <td class="numeric"><%= format('%4.1f', stat.putting_distance) %></td>
        <td class="numeric"><%= stat.rank(:putting_distance) %></td>
        <td class="numeric"><%= format('%4.1f', stat.putting_in_from_20 * 100) %></td>
        <td class="numeric"><%= stat.rank(:putting_in_from_20) %></td>
        <td class="numeric"><%= format('%4.1f', stat.putting_in_from_10 * 100) %></td>
        <td class="numeric"><%= stat.rank(:putting_in_from_10) %></td>
        <td class="numeric"><%= format('%4.1f', stat.putting_in_from_5 * 100) %></td>
        <td class="numeric"><%= stat.rank(:putting_in_from_5) %></td>
      </tr>
    <% end -%>
  </tbody>
</table>
