<% holes = Hole.order(:number)
   scores = holes.map { |hole| score_card.scores.find_by(hole: hole) }
   player = score_card.player
   round  = score_card.round
   shows = defined?(shows) && shows
   hides_at_first = !shows && (@style.blank? || player.group != round.group_to_display) -%>

<table id="score_player<%= player.id %>"
       class="score_card
              <%= @style.present? && 'table_base' %>
              group<%= player.group.number %>"
       <%= hides_at_first && 'hidden' %>>
     <caption><%= full_name_with_score(player) %></caption>
  <thead>
    <tr>
      <% unless round.first_round? -%>
        <th rowspan="2" />
      <% end -%>
      <% holes.each do |hole| -%>
        <th><%= hole.number %></th>
        <% if hole.number == 9 -%>
          <th>Out</th>
        <% elsif hole.number == 18 -%>
          <th>In</th>
          <th>T</th>
        <% end -%>
      <% end -%>
    </tr>
    <tr>
      <% holes.each do |hole| -%>
        <th><%= hole.par %></th>
        <% if hole.number % 9 == 0 -%>
          <th>36</th>
          <% if hole.number == 18 -%>
            <th>72</th>
          <% end -%>
        <% end -%>
      <% end -%>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% score_at_start = player.tournament_score(round_number_upto: round.number - 1) -%>
      <% unless round.first_round? -%>
        <td rowspan="2" class="numeric" style="vertical-align: bottom;">
          <%= score_formatted(score_at_start, short: true) %>
        </td>
      <% end -%>
      <% total_in  = 0
         total_out = 0 -%>
      <% scores.each.with_index(1) do |score, number| -%>
        <% value = score&.value
           hole  = score&.hole
           number <= 9 ? total_in += value : total_out += value if score
           clazz = class_score_result(value, hole) -%>
        <td class="stroke hole<%= number %> <%= clazz %> numeric">
          <%= value || '&nbsp'.html_safe %>
        </td>
        <% if number == 9 -%>
          <td class="stroke total_in numeric"><%= score && total_in %></td>
        <% elsif number == 18 -%>
          <td class="stroke total_out numeric"><%= score && total_out %></td>
          <td class="stroke total_round numeric"><%= score && total_in + total_out %></td>
        <% end -%>
      <% end -%>
    </tr>
    <tr>
      <% total_par   = 0
         total_value = 0 -%>
      <% 1.upto(scores.size) do |number| -%>
        <td class="score hole<%= number %> numeric">
          <%= cum_score_display(number, scores, score_at_start) %>
        </td>
        <% if number == 9 -%>
          <td />
        <% elsif number == 18 -%>
          <td />
          <td />
        <% end -%>
      <% end -%>
    </tr>
  </tbody>
</table>
