<table id="fairway_map" class="hole_map" <%= @style.blank? && 'hidden' %>>
  <caption><%= hole.full_desc(with_distance: true) %></caption>
  <% fairway_landings(hole).each do |row| -%>
    <tr>
      <% row.each do |shot_judge| -%>
        <td><%= shot_judge %></td>
      <% end -%>
    </tr>
  <% end -%>
</table>

<table id="green_map" class="hole_map" <%= @style.blank? && 'hidden' %>>
  <caption>&nbsp;</caption>
  <% green_landings(hole).each do |row| -%>
    <tr>
      <% row.each do |shot_judge| -%>
        <td><%= shot_judge %></td>
      <% end -%>
    </tr>
  <% end -%>
</table>

<div style="clear: left;" />
