<table id="fairway_map" class="hole_map" <%= @style.blank? && 'hidden' %>>
  <caption><%= hole.par == 3 ? '&nbsp;'.html_safe : hole.full_desc(with_distance: true) %></caption>
  <% fairway_landings(hole).each do |row| -%>
    <tr>
      <% row.each do |td| -%>
        <%= td %>
      <% end -%>
    </tr>
  <% end -%>
</table>

<table id="green_map" class="hole_map" <%= @style.blank? && 'hidden' %>>
  <caption><%= hole.par >= 4 ? '&nbsp;'.html_safe : hole.full_desc(with_distance: true) %></caption>
  <% green_landings(hole).each_with_index do |row, index_row| -%>
    <tr>
      <% row.each_with_index do |td, index_td| -%>
        <% if hole.par == 5 && index_row == 0 && index_td == (hole.number >= 13 ? 0 : 1) -%>
          <% players = players_in_landings('layup') -%>
          <td rowspan="7" class="near_green <%= players.empty? || 'players' %>">
            (layup)
            <br>
            <%= players.join(', ') %>
          </td>
        <% end -%>
        <%= td %>
      <% end -%>
    </tr>
  <% end -%>
</table>

<div style="clear: left;" />
