<% shows = defined?(shows) && shows -%>

<table id="leaders" class="<%= @style.present? && 'table_base' %>" <%= @style.blank? && !shows && 'hidden' %>>
  <caption><%= @round %></caption>
  <% scores = players.map(&:tournament_score)
     h_score_counts = scores.inject(Hash.new(0)) { |h, score| h[score] += 1; h }
     tied_scores = scores.find_all { |score| h_score_counts[score] > 1 }
     prev_score = nil
     count_same_as_above = 0 -%>
  <% players.each_with_index do |player, index| -%>
    <% score = scores[index]
       if score == prev_score
         count_same_as_above += 1
       else
         count_same_as_above = 0
       end -%>
    <% rank = index + 1 - count_same_as_above
       rank_suffix = tied_scores.include?(score) ? 'T' : ''
       is_to_hide = index >= num_players_in_leader_board && rank > num_players_in_leader_board -%>
    <tr class="<%= is_to_hide && 'not_to_display' %>">
      <td class="numeric smaller">
        <%= rank %><span class="smallest"><%= rank_suffix %></span>
      </td>
      <td><%= player %></td>
      <td class="numeric"><%= score_formatted(score) %></td>
      <td class="numeric"><%= player.hole_finished %></td>
    </tr>
    <% prev_score = score -%>
  <% end -%>
</table>
