<% shows = defined?(shows) && shows -%>

<table id="leaders" class="<%= @style.present? && 'table_base' %>" <%= @style.blank? && !shows && 'hidden' %>>
  <caption><%= @round %></caption>
  <% prev_score = nil
     count_same_as_above = 0 -%>
  <% players.each_with_index do |player, index| -%>
    <% score = player.tournament_score
       if score == prev_score
         count_same_as_above += 1
       else
         count_same_as_above = 0
       end -%>
    <tr class="<%= index >= num_players_in_leader_board && 'not_to_display' %>">
      <td class="numeric smallest"><%= index + 1 - count_same_as_above %></td>
      <td><%= player %></td>
      <td class="numeric"><%= score_formatted(score) %></td>
      <td class="numeric"><%= player.hole_finished %></td>
    </tr>
    <% prev_score = score -%>
  <% end -%>
</table>
