<% group.players.each_with_index do |player, index| -%>
  <tr class="group_info<%= group.number %> <%= not_to_display && 'not_to_display' %>">
    <% if index.zero? -%>
      <td rowspan="<%= group.players.size %>"
          class="<%= group == @round.group_to_display && 'current' %>">
        <%= group.number %>
      </td>
    <% end -%>
    <% ball = player.ball %>
    <% if ball.nil? -%>
      <td><%= player %></td>
    <% else -%>
      <% hole = player.shot.try(:hole)
         is_fin = ball.finished_round? -%>
      <td><%= player %></td>
      <td class="numeric"><%= score_formatted(player.tournament_score) %></td>
      <% if index.zero? -%>
        <td rowspan="<%= group.players.size %>" class="numeric">
          <%= hole.try(:full_desc) %>
        </td>
      <% end -%>
      <td class="emphasized"><%= is_fin ? nil : ball.shot_count %></td>
      <td><%= is_fin || player != group.next_player ? nil : 'n' %></td>
      <td><%= is_fin ? nil : ball.lands %></td>
      <% result = ball.result -%>
      <td class="<%= result && result.end_with?('*') && 'emphasized' %>">
        <%= is_fin ? 'FIN' : result %>
      </td>
      <td><%= ball.next_shot_display(true) %></td>
    <% end -%>
  </tr>
<% end -%>
