<% group = @round.current_group
   player = group.try(:next_player) -%>

<tr><td id="debug_message" style="font-size: small" hidden><%= @message_orig.inspect %></td></tr>

<% if @round.ready_to_play? -%>
  <% if group.all_holed_out? -%>
    <%= render partial: 'hole_result', locals: {group: group} %>
  <% else -%>
    <% ball = player.ball -%>
    <tr>
      <td><%= player.shot.hole.full_desc(with_distance: true) %></td>
    </tr>
    <tr>
      <td class="italic"><%= pre_shot_display(player) %></td>
    </tr>
    <tr>
      <td class="italic"><%= ball.next_shot_display %></td>
    </tr>
  <% end -%>
<% elsif @round.needs_input? -%>
  <tr>
    <td class="italic"><%= "#{with_score(player)} on #{player.shot.hole} for #{player.shot} to choose shot" %></td>
  </tr>
<% elsif @round.play_result -%>
  <% if @result_message&.not_nil? -%>
    <tr id="message" data-time_to_delay="<%= @time_to_delay %>">
      <% if @result_message.pre_messages.empty? -%>
        <td><%= @result_message.message %></td>
      <% else -%>
        <td>
          <span id="distance_amination"
                data-result="<%= @result_message.result %>"
                data-pre_messages="<%= @result_message.pre_messages.join(';') %>"
                data-message="<%= @result_message.message %>">
            <%= @result_message.distance.abs %>
          </span>
        </td>
      <% end -%>
    </tr>
  <% end -%>
  <% if @round.play_result =~ Group::RE_PLAYER_ID_AND_INFO -%>
    <%# TODO: Refactor this mess. %>
    <% player = Player.find(Regexp.last_match(1).to_i)
       club_used = Regexp.last_match(2)
       info = Regexp.last_match(3)
       ball = player.ball
       ball.club_used = player.clubs.find_by(name: club_used.downcase) -%>
    <tr class="delayed_display" <%= @result_message&.not_nil? && 'hidden' %>>
      <td><%= player.shot.hole.full_desc %></td>
    </tr>
    <tr class="delayed_display" <%= @result_message&.not_nil? && 'hidden' %>>
      <% score_display = ball.holed_out? ? " to #{score_formatted(player.tournament_score)}" : '' -%>
      <td><%= ball.result_display + score_display %></td>
    </tr>
    <tr class="delayed_display" <%= @result_message&.not_nil? && 'hidden' %>>
      <% next_shot_display = ball.next_shot_display -%>
      <td class="smaller">
        <%= ball.holed_out? || next_shot_display.blank? ? nil : "( next will be: #{next_shot_display} )" %>
      </td>
    </tr>
    <tr id="info" class="<%= @shows_info && 'delayed_display' %>"
        <%= (@result_message&.not_nil? || !@shows_info) && 'hidden' %>>
      <td class="smallest italic"><%= info %></td>
    </tr>
  <% else -%>
    <tr class="delayed_display" <%= @result_message&.not_nil? && 'hidden' %>>
      <td><%= @round.play_result %></td>
    </tr>
  <% end -%>
<% else -%>
  <tr><td>
    <%= "Ready to play #{@round}" %>
  </td></tr>
<% end -%>

