<table>
  <% if @round.ready_to_play? -%>
    <% group = @round.current_group -%>
    <tr>
      <td><%= "#{group} about to stroke from #{group.next_player.shot.area}" %></td>
    </tr>
    <% group.players.each do |player| -%>
      <tr>
        <td><%= player.ball.result_display %></td>
      </tr>
      <tr>
        <td><%= player.ball.next_shot_display %></td>
      </tr>
    <% end -%>
  <% elsif @round.play_result -%>
    <% eval(@round.play_result).each do |line| -%>
      <tr>
        <td><%= line %></td>
      </tr>
    <% end -%>
  <% else -%>
    <%= "Ready to play #{@round}" %>
  <% end -%>
</table>

<%= form_tag round_path, method: :patch do %>
  <%= submit_tag :Proceed %>
<% end -%>
