<div id="button_to_proceed">
  <%= form_tag round_path, method: :patch do %>
    <% if @round.needs_input? -%>
      <%= hidden_field_tag :choosing_next_use, 1 %>
      <% @round.current_group.next_player.ball.next_use_options.each_with_index do |option, index| -%>
        <%= radio_button_tag :shot_option, index %>
        <%= label_tag "shot_option_#{index}", option %>
      <% end -%>
      <br>
    <% end -%>
    <%= submit_tag :Proceed, disabled: @message %>
  <% end -%>
</div>

<table>
  <% group = @round.current_group
     player = group.try(:next_player) -%>
  <% if @round.ready_to_play? -%>
    <% if group.all_holed_out? -%>
      <tr>
        <td><%= "#{group} holed out on #{player.shot.hole}" %></td>
      </tr>
      <tr>
        <td><%= hole_result_display(group) %></td>
      </tr>
      <% if player.shot.hole.number == @round.final_hole_number -%>
        <tr>
          <td><%= round_result_display(group) %></td>
        </tr>
      <% end -%>
    <% else -%>
      <% ball = player.ball -%>
      <tr>
        <td><%= player.shot.hole.full_desc(with_distance: true) %></td>
      </tr>
      <tr>
        <td class="italic"><%= pre_shot_display(player) %></td>
      </tr>
      <tr>
        <td class="italic"><%= ball.on_green? ? nil : ball.next_shot_display %></td>
      </tr>
    <% end -%>
  <% elsif @round.needs_input? -%>
    <tr>
      <td class="italic"><%= "#{player} on #{player.shot.hole} for #{player.shot} to choose shot" %></td>
    </tr>
  <% elsif @round.play_result -%>
    <% if @message -%>
      <div id="message"><%= @message %></div>
    <% end -%>
    <% if @round.play_result =~ Group::RE_PLAYER_ID_AND_INFO -%>
      <%# TODO: Refactor this mess. %>
      <% p = Player.find(Regexp.last_match(1).to_i)
         club_used = Regexp.last_match(2)
         info = Regexp.last_match(3)
         b = p.ball
         b.club_used = p.clubs.find_by(name: club_used.downcase) -%>
      <tr class="delayed_display" <%= @message && 'hidden' %>>
        <td><%= p.shot.hole.full_desc %></td>
      </tr>
      <tr class="delayed_display" <%= @message && 'hidden' %>>
        <td><%= b.result_display %></td>
      </tr>
      <tr class="delayed_display" <%= @message && 'hidden' %>>
        <td class="smaller"><%= b.holed_out? ? nil : "( next will be: #{b.next_shot_display} )" %></td>
      </tr>
      <tr class="delayed_display italic" <%= @message && 'hidden' %>>
        <td class="smaller italic"><%= info %></td>
      </tr>
    <% else -%>
      <tr class="delayed_display" <%= @message && 'hidden' %>>
        <td><%= @round.play_result %></td>
      </tr>
    <% end -%>
  <% else -%>
    <%= "Ready to play #{@round}" %>
  <% end -%>
</table>

<table id="players_info">
  <% @round.groups.each do |group| -%>
    <% group.players.each_with_index do |player, index| -%>
      <tr>
        <% if index.zero? -%>
          <td rowspan="<%= group.players.size %>"
              class="<%= group == @round.current_group && 'current' %>">
            <%= group.number %>
          </td>
        <% end -%>
        <% ball = player.ball %>
        <% if ball.nil? -%>
          <td><%= player %></td>
        <% else -%>
          <% hole = player.shot.try(:hole)
             is_fin = ball.finished_round? -%>
          <td><%= player %></td>
          <td class="numeric"><%= score_formatted(player.tournament_score) %></td>
          <td class="numeric"><%= hole.try(:full_desc) %></td>
          <td class="emphasized"><%= is_fin ? nil : ball.shot_count %></td>
          <td><%= is_fin || player != group.next_player ? nil : 'n' %></td>
          <td><%= is_fin ? nil : ball.lands %></td>
          <% result = ball.result -%>
          <td class="<%= result && result.end_with?('*') && 'emphasized' %>">
            <%= is_fin ? 'FIN' : result %>
          </td>
          <td><%= ball.next_shot_display(true) %></td>
        <% end -%>
      </tr>
    <% end -%>
  <% end -%>
</table>

<% label_for_toggle_button = @style == 'pretty' ? '[-]' : '[+]' -%>

<div id="leader_board">
  <span id="toggle_leader_board_display" class="button"><%= label_for_toggle_button %></span>
  <table id="leaders" class="table_base" <%= @style.blank? && 'hidden' %>>
    <% @round.tournament.players.sort_by(&:leader_sorter).each do |player| -%>
      <tr>
        <td><%= player %></td>
        <td class="numeric"><%= score_formatted(player.tournament_score) %></td>
        <td class="numeric"><%= player.hole_finished %></td>
      </tr>
    <% end -%>
  </table>
</div>

<% unless @round.groups.empty? -%>
  <div id="score_cards">
    <% @round.groups.each do |group| -%>
      <% is_current = group == @round.current_group -%>
      <span class="toggle_score_card_display button <%= is_current && 'current' %>">
        <%= group.number %>
      </span>
    <% end -%>
    <% @round.groups.each do |group| -%>
      <% group.players.each do |player| -%>
        <%= render player.score_cards.find_by(round: @round) %>
      <% end -%>
    <% end -%>
  </div>
<% end -%>

<div id="hole_map">
  <div>
    <span id="toggle_hole_map_display" class="button"><%= label_for_toggle_button %></span>
  </div>
  <% if hole = player&.shot&.hole -%>
    <%= render hole %>
  <% end -%>
</div>
