<table>
  <% if @round.ready_to_play? -%>
    <% group = @round.current_group -%>
    <tr>
      <% if group.all_holed_out? -%>
        <td><%= "#{group} holed out on #{group.next_player.shot.hole}" %></td>
      <% else -%>
        <td><%= "#{group} about to stroke from #{group.next_player.shot.area}" %></td>
      <% end -%>
    </tr>
  <% elsif @round.play_result -%>
    <% eval(@round.play_result).each do |line| -%>
      <tr>
        <td><%= line %></td>
      </tr>
    <% end -%>
  <% else -%>
    <%= "Ready to play #{@round}" %>
  <% end -%>
</table>

<table id="players_info">
  <% @round.groups.each do |group| -%>
    <% group.players.each_with_index do |player, index| -%>
      <tr>
        <% if index.zero? -%>
          <td rowspan="<%= group.players.size %>"
              class="<%= group == @round.current_group && 'emphasized' %>">
            <%= group.number %>
          </td>
        <% end -%>
        <% ball = player.ball %>
        <% if ball.nil? -%>
          <td><%= player %></td>
        <% else -%>
          <% hole = player.shot.try(:hole) %></td>
          <td><%= player %></td>
          <td><%= hole && "#{hole} (Par #{hole.par})" %></td>
          <td><%= ball.result_display %></td>
          <td><%= ball.next_shot_display %></td>
        <% end -%>
      </tr>
    <% end -%>
  <% end -%>
</table>

<%= form_tag round_path, method: :patch do %>
  <%= submit_tag :Proceed %>
<% end -%>
