<div id="button_to_proceed">
  <%= form_tag round_path, method: :patch, remote: true, id: 'form_to_proceed' do %>
    <% if @round.needs_input? -%>
      <%= render 'shot_option' %>
      <br>
    <% end -%>
    <%= submit_tag :Proceed, disabled: @message %>
    <span class="quiet_notice"><%= @no_animation ? '[x]' : '[@]' %></span>
  <% end -%>
</div>

<table id="result">
  <%= render 'result' %>
</table>

<div id="players_info">
  <table>
    <% groups_for_players_info.each_with_index do |group, index_group| -%>
      <% not_to_display = index_group >= num_groups_in_players_info -%>
      <%= render partial: 'players_info_by_group', locals: {group: group, not_to_display: not_to_display} %>
    <% end -%>
  </table>
  <span id="toggle_players_info_full_display" class="button">[ ... ]</span>
</div>

<% label_for_toggle_button = @style == 'pretty' ? '[-]' : '[+]' -%>

<div id="leader_board">
  <% if @style.blank? -%>
    <span id="toggle_leader_board_display" class="button"><%= label_for_toggle_button %></span>
  <% end -%>
  <%= render 'leaders' %>
  <span id="toggle_leader_board_full_display" class="button">[ ... ]</span>
</div>

<% unless @round.groups.empty? -%>
  <div id="score_cards">
    <% if @style.blank? -%>
      <span class="hide_score_card_display button">[-]</span>
    <% end -%>
    <% @round.groups.each do |group| -%>
      <% is_current = group == @round.group_to_display -%>
      <span class="toggle_score_card_display button group<%= group.number %> <%= is_current && 'current' %>">
        <%= group.number %>
      </span>
    <% end -%>
    <% @round.groups.each do |group| -%>
      <% group.players.each do |player| -%>
        <%= render player.score_cards.find_by(round: @round) %>
      <% end -%>
    <% end -%>
  </div>
<% end -%>

<div id="hole_map">
  <% if @style.blank? -%>
    <div>
      <span id="toggle_hole_map_display" class="button"><%= label_for_toggle_button %></span>
    </div>
  <% end -%>
  <% if hole = @round.group_to_display&.players&.first&.shot&.hole -%>
    <%= render hole %>
  <% end -%>
</div>

<div id="debug" hidden>
</div>
