<div style="margin-left: 500px">
<%= form_tag round_path, method: :patch do %>
  <% if @round.needs_input? -%>
    <%= hidden_field_tag :choosing_next_use, 1 %>
    <% @round.current_group.next_player.ball.next_use_options.each_with_index do |option, index| -%>
      <%= radio_button_tag :shot_option, index %><%= option %>
    <% end -%>
    <br>
  <% end -%>
  <%= submit_tag :Proceed %>
<% end -%>
</div>

<table>
  <% if @round.ready_to_play? -%>
    <% group = @round.current_group
       player = group.next_player -%>
    <tr>
      <% if group.all_holed_out? -%>
        <td><%= "#{group} holed out on #{player.shot.hole}" %></td>
      <% else -%>
        <td><%= "#{group} about to stroke from #{player.shot.area}" %></td>
      <% end -%>
    </tr>
  <% elsif @round.needs_input? -%>
    <% player = @round.current_group.next_player -%>
    <tr>
      <td><%= "#{player} on #{player.shot.hole} for #{player.shot} to choose shot" %></td>
    </tr>
  <% elsif @round.play_result -%>
    <% eval(@round.play_result).each do |line| -%>
      <tr>
        <td><%= line %></td>
      </tr>
    <% end -%>
  <% else -%>
    <%= "Ready to play #{@round}" %>
  <% end -%>
</table>

<table id="players_info">
  <% @round.groups.each do |group| -%>
    <% group.players.each_with_index do |player, index| -%>
      <tr>
        <% if index.zero? -%>
          <td rowspan="<%= group.players.size %>"
              class="<%= group == @round.current_group && 'emphasized' %>">
            <%= group.number %>
          </td>
        <% end -%>
        <% ball = player.ball %>
        <% if ball.nil? -%>
          <td><%= player %></td>
        <% else -%>
          <% hole = player.shot.try(:hole) %></td>
          <td><%= player %></td>
          <td><%= hole && "#{hole} (Par #{hole.par})" %></td>
          <td><%= ball.result_display %></td>
          <td><%= ball.next_shot_display %></td>
        <% end -%>
      </tr>
    <% end -%>
  <% end -%>
</table>
